html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: -webkit-calc(60px + 2em);
    margin-bottom: calc(60px + 2em);*/
    margin-bottom: 60px;
}

hr.separator {
    margin-top: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
